@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600&display=swap&subset=cyrillic-ext);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap&subset=cyrillic-ext);

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("fonts/icons.ttf?ofb3g5") format("truetype"), url("fonts/icons.woff?ofb3g5") format("woff"), url("fonts/icons.svg?ofb3g5#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-youtube:before {
  content: "";
}

._icon-vk:before {
  content: "";
}

._icon-fk:before {
  content: "";
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

html,
body {
  height: 100%;
  line-height: 24px;
  font-family: "Montserrat";
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fff;
  color: #ffffff;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  z-index: 100;
  padding: 30px 0px 30px 0px;
}

.header__container {
  position: relative;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 20px 0px;
}

.header__geolocation {
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
}

.header__call {
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
}

.header__menu {
  z-index: 99;
  height: 46px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  display: inline-block;
  width: 100%;
  color: inherit;
  font-size: 14px;
  line-height: 150%;
}

.icon-menu {
  display: none;
}

.footer {
  background: #998431;
}

.footer__content {
  padding: 50px 0px 50px 0px;
}

.footer__top {
  border-top: 1px solid #ffffff;
  padding: 20px 0px 20px 0px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__link {
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  padding: 5px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 0px 20px 0px;
}

.footer__item {
  text-align: center;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials a {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #ffffff;
}

.footer__contact {
  font-size: 20px;
  line-height: 150%;
  margin-right: 35px;
}

.footer__contact:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__copyright {
  color: #ffffff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.fullscreen {
  background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(rgba(40, 40, 40, 0))), url(../img/bgc.png) center/cover no-repeat, #ededed;
  background: -o-linear-gradient(top, #282828 0%, rgba(40, 40, 40, 0) 100%), url(../img/bgc.png) center/cover no-repeat, #ededed;
  background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%), url(../img/bgc.png) center/cover no-repeat, #ededed;
  min-height: 100vh;
}

.fullscreen__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100vh;
}

.fullscreen__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
}

.fullscreen__button {
  margin: 0 15px;
}

.excerpt {
  background-color: #282828;
}

.excerpt__content {
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.excerpt__container {
  border: 3px solid #8f8989;
  padding: 58px 168px;
  text-align: center;
}

.excerpt__text {
  font-size: 16px;
  line-height: 150%;
  margin: 0px 0px 50px 0px;
}

.excerpt-title__separator {
  display: block;
  margin: 40px 0;
  text-align: center;
  width: 100%;
}

.excerpt-title__separator span {
  display: inline-block;
  width: 160px;
  border: 1px solid #ffffff;
}

.history {
  background-color: #e6e3c4;
  padding: 80px 0;
}

.history__content {
  padding: 60px 0px;
  border-bottom: 1px solid #998431;
  border-top: 1px solid #998431;
}

.history__title {
  color: #000000;
  font-size: 16px;
  line-height: 150%;
  margin: 0px 0px 30px 0px;
}

.history__container {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.history__img {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 540px;
          flex: 0 0 540px;
}

.info-title__separator {
  display: block;
  margin: 30px 0px 30px 0px;
  width: 160px;
  border: 1px solid #282828;
}

.info {
  padding: 0px 125px 0px 0px;
}

.info__title {
  color: #282828;
}

.info__text {
  color: #282828;
  font-size: 14px;
  line-height: 150%;
  margin: 0px 0px 30px 0px;
}

.info__button a {
  color: #e6e3c4;
}

.info-more {
  color: #282828;
  padding: 0px 0px 30px 0px;
}

.info-more__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-more__block:last-child .info-more__year {
  border-bottom: none;
}

.info-more__block:last-child .info-more__info {
  border-bottom: none;
}

.info-more__year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #282828;
  border-bottom: 1px solid #282828;
  padding: 26px 24px;
  font-size: 14px;
  line-height: 150%;
}

.info-more__year:last-child {
  margin-bottom: 231px;
}

.info-more__info {
  padding: 0px 36px 0px 24px;
  border-bottom: 1px solid #282828;
}

.info-more__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  font-family: Playfair Display;
  padding: 10px 0 5px 0;
}

.info-more__text {
  font-size: 14px;
  line-height: 150%;
}

.record {
  background-color: #282828;
  padding: 129px 0 100px 0;
}

.record__form {
  color: #ffffff;
  padding: 0px 283px 40px;
}

.form {
  position: relative;
  text-align: center;
  border: 3px solid #c4c4c4;
}

.form__grape {
  position: absolute;
  top: -100px;
  left: -50px;
}

.form__barrel {
  position: absolute;
  top: -70px;
  right: -50px;
}

.form__title {
  background-color: #282828;
  -webkit-transform: translate(0px, -35px);
      -ms-transform: translate(0px, -35px);
          transform: translate(0px, -35px);
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}

.form__text {
  font-size: 16px;
  line-height: 150%;
}

.form__items {
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  padding: 81px 0px 50px 0px;
}

.form__items input {
  font-family: Montserrat;
  padding: 10px 0px;
  color: #ffffff;
  background: inherit;
}

.form__items input::-webkit-input-placeholder {
  color: #ffffff;
}

.form__items input::-moz-placeholder {
  color: #ffffff;
}

.form__items input:-ms-input-placeholder {
  color: #ffffff;
}

.form__items input::-ms-input-placeholder {
  color: #ffffff;
}

.form__items input::placeholder {
  color: #ffffff;
}

.form__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 40px 0px;
}

.form__name {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 30px;
  border-bottom: 1px solid #ffffff;
}

.form__telephone {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-bottom: 1px solid #ffffff;
}

.form__locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ffffff;
}

.form__location {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form__button {
  border: 1px solid #ffffff;
  padding: 15px 0px;
  min-width: 100%;
  cursor: pointer;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
}

.form-title__separator {
  display: inline-block;
  width: 118px;
  margin: 0px 0px 40px 0px;
  border-top: 1px solid #ffffff;
}

.text {
  font-size: 14px;
  line-height: 150%;
}

.title {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}

.btn {
  display: inline-block;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  padding: 15px 30px;
  background-color: #998431;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.btn a {
  color: inherit;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 767.98px) {
  .header__geolocation {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .menu__column {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    padding: 10px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
  }

  .menu__column:last-child {
    border-right: none;
  }

  .footer__column {
    border-right: 1px solid #ffffff;
  }

  .footer__column:last-child {
    border-right: none;
  }
}

@media (min-width: 767.98px) and (min-width: 991.98px) {
  .menu__column:hover {
    background-color: #ece9ec3b;
  }
}

@media (min-width: 991.98px) {
  .footer__link:hover {
    color: #636363;
  }

  .footer__socials a:hover {
    color: #b9b9b9;
  }

  .footer__copyright:hover {
    color: #b9b9b9;
  }

  .btn:hover {
    background-color: #52440e;
  }
}

@media (max-width: 1122px) {
  ._container {
    max-width: 750px;
  }

  .history__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 270px;
            flex: 0 0 270px;
  }

  .record__form {
    padding: 0px 148px 40px;
  }

  .form__grape {
    display: none;
  }

  .form__barrel {
    display: none;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .footer__content {
    padding: 30px 15px 30px 15px;
  }

  .excerpt__content {
    padding: 30px 68px;
  }

  .excerpt__container {
    padding: 30px 68px;
  }
}

@media (max-width: 767.98px) {
  .header__top {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    padding: 0px 30px 0px 0px;
  }

  .header__geolocation {
    font-size: 18px;
    margin: 0px 0px 10px 0px;
  }

  .header__call {
    font-size: 18px;
  }

  .header__menu {
    position: absolute;
    top: 0px;
    right: 10px;
  }

  .menu__body {
    -webkit-transform: translate(0px, -100%);
        -ms-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(49, 48, 48, 0.93);
  }

  .menu__body._active {
    -webkit-transform: translate(0px, 0%);
        -ms-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }

  .menu__list {
    display: block;
  }

  .menu__link {
    font-size: 40px;
  }

  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__top {
    display: none;
  }

  .footer__contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    border: 1px solid #ffffff;
  }

  .footer__column {
    padding: 15px 0px 15px 0px;
  }

  .footer__column_1 {
    width: 100%;
    border-bottom: 1px solid #ffffff;
  }

  .footer__column_2 {
    border-right: 1px solid #ffffff;
  }

  .footer__column_4 {
    width: 100%;
    border-top: 1px solid #ffffff;
  }

  .fullscreen__container {
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }

  .fullscreen__button {
    display: block;
    margin: 19px 0;
  }

  .fullscreen__button:last-child {
    margin: 0px;
  }

  .excerpt__content {
    padding: 20px 5px;
  }

  .excerpt__container {
    padding: 30px 68px;
  }

  .excerpt__text {
    margin: 0px 0px 30px 0px;
  }

  .history {
    padding: 60px 5px;
  }

  .history__img {
    display: none;
  }

  .info-title__separator {
    display: inline-block;
  }

  .info {
    text-align: center;
    padding: 0;
  }

  .info-more__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .record {
    padding: 68px 0 50px 0;
  }

  .record__form {
    padding: 0px 50px 30px;
  }

  .form__title {
    font-size: 30px;
  }

  .form__items {
    padding: 40px 0px 40px 0px;
  }

  .form__contact {
    display: block;
    padding: 0px 0px 0px 0px;
  }

  .form__name {
    min-width: 100%;
    margin: 0px 0px 20px 0px;
  }

  .form__telephone {
    min-width: 100%;
    margin: 0px 0px 20px 0px;
  }

  .title {
    font-size: 26px;
  }
}

.webp .fullscreen{ background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(rgba(40, 40, 40, 0))), url(../img/bgc.webp) center/cover no-repeat, #ededed; }

.webp .fullscreen{ background: -o-linear-gradient(top, #282828 0%, rgba(40, 40, 40, 0) 100%), url(../img/bgc.webp) center/cover no-repeat, #ededed; }

.webp .fullscreen{ background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%), url(../img/bgc.webp) center/cover no-repeat, #ededed; }